<div class="articles-content">

  <jec-breadcrumb [routeList]="routeList" (onChange)="breadcrumbChangeHandler($event)"></jec-breadcrumb>

  <div class="jec-jumbotron mat-elevation-z2">
    <h1>
      Articles
    </h1>
    <p>
      Here you'll find all archived articles written by the JEC team.
    </p>
  </div>

  <h2>Tech Articles on JEC</h2>

  <ul class="tech-links">
    <li class="jec-badge mat-elevation-z2" *ngFor="let article of articles">
      <a class="jec-link" 
         title="article.title"
         [routerLink]="[article.ref]">
         <i class="material-icons">collections_bookmark</i>
         <span>{{article.title}} <em>({{article.site}})</em></span>
      </a>
    </li>
  </ul>
</div>