<div class="home-content">
    <div class="jec-bg-img"></div>
    <div class="welcome-wrapper">
        <h1>
            Welcome to the JEC Wiki!
        </h1>
        <p>
            The Node.js alternative to JEE and Spring Boot
        </p>
        <div class="button-row">
            <button mat-raised-button color="primary" (click)="navigateTo('/docs');">
                Get started
                <i class="material-icons">keyboard_arrow_right</i>
            </button>
        </div>
    </div>
</div>