<div class="communication-kit-content">

  <jec-breadcrumb [routeList]="routeList" (onChange)="breadcrumbChangeHandler($event)"></jec-breadcrumb>

  <div class="jec-jumbotron mat-elevation-z2">
    <h1>
      Communication Kit
    </h1>
    <p>
      Here 
    </p>
  </div>

  <h2>JEC Banners</h2>

  <div class="communication-kit-card-container"
       fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center top">
    <mat-card class="communication-kit-card" fxFlex="40">
      <mat-card-header>
        <mat-card-title class="communication-kit-card-header-title">Original Banner</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="communication-kit-card-resource">
            <img src="https://raw.githubusercontent.com/pechemann/JEC/master/assets/jec-logos/jec-logo.png" alt="Original JEC Banner"/>
        </div>
        <div class="communication-kit-card-description">
            Original full size JEC Banner: 1399x535 pixels.
        </div>
        </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="downloadItem('https://raw.githubusercontent.com/pechemann/JEC/master/assets/jec-logos/jec-logo.png');">
          Download File
          <i class="material-icons">file_download</i>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="communication-kit-card" fxFlex="40">
        <mat-card-header>
          <mat-card-title class="communication-kit-card-header-title">Black &amp; White Banner</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="communication-kit-card-resource">
              <img src="https://raw.githubusercontent.com/pechemann/JEC/master/assets/jec-logos/jec-logo-bw.png" alt="Black &amp; White JEC Banner"/>
          </div>
          <div class="communication-kit-card-description">
              Original full size black &amp; white JEC Banner: 1399x535 pixels.
          </div>
          </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="downloadItem('https://raw.githubusercontent.com/pechemann/JEC/master/assets/jec-logos/jec-logo-bw.png');">
            Download File
            <i class="material-icons">file_download</i>
          </button>
        </mat-card-actions>
      </mat-card>
  </div>

  <h2>JEC Logos</h2>

  <h2>JEC Wallpapers</h2>

  <h2>JEC Presentations Templates</h2>

</div>