<div class="communication-kit-content">

  <jec-breadcrumb [routeList]="routeList" (onChange)="breadcrumbChangeHandler($event)"></jec-breadcrumb>

  <div class="jec-jumbotron mat-elevation-z2">
    <h1>
      Communication Kit
    </h1>
    <p>
      Include JEC Project logos in your websites or applications, available below.
    </p>
  </div>

  <h2>Image and Logo Terms of Use</h2>
  <p>
    By downloading the JEC Logo(s) you hereby agree to the terms of the <a href="./community/communicating-about-jec#image-and-logo-terms-of-use" title="Image and Logo Terms of Use">Image and Logo Terms of Use</a> which is legally binding on you.
  </p>

  <h2>JEC Banners</h2>

  <div class="communication-kit-card-container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="left top">
    <mat-card class="communication-kit-card" fxFlex="40">
      <mat-card-header>
        <mat-card-title class="communication-kit-card-header-title">Original Banner</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="communication-kit-card-resource">
          <img src="https://raw.githubusercontent.com/jec-project/JEC/master/assets/jec-logos/jec-logo.png" alt="Original JEC Banner"
          />
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button class="logo-btn" mat-button (click)="downloadItem('https://raw.githubusercontent.com/jec-project/JEC/master/assets/jec-logos/jec-logo.png');">
          Download File
          <i class="material-icons">file_download</i>
          <div>1399x535 pixels</div>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="communication-kit-card" fxFlex="40">
      <mat-card-header>
        <mat-card-title class="communication-kit-card-header-title">Black &amp; White Banner</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="communication-kit-card-resource">
          <img src="https://raw.githubusercontent.com/jec-project/JEC/master/assets/jec-logos/jec-logo-bw.png" alt="Black &amp; White JEC Banner"
          />
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button class="logo-btn" mat-button (click)="downloadItem('https://raw.githubusercontent.com/jec-project/JEC/master/assets/jec-logos/jec-logo-bw.png');">
          Download File
          <i class="material-icons">file_download</i>
          <div>1399x535 pixels</div>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="communication-kit-card" fxFlex="40">
      <mat-card-header>
        <mat-card-title class="communication-kit-card-header-title">Blue Banner</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="communication-kit-card-resource">
          <img src="https://raw.githubusercontent.com/jec-project/JEC/master/assets/jec-logos/jec-logo-blue.png" alt="Black &amp; White JEC Banner"
          />
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button class="logo-btn" mat-button (click)="downloadItem('https://raw.githubusercontent.com/jec-project/JEC/master/assets/jec-logos/jec-logo-blue.png');">
          Download File
          <i class="material-icons">file_download</i>
          <div>1399x535 pixels</div>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <h2>JEC Logos</h2>

  <div class="communication-kit-card-container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="left top">
    <mat-card class="communication-kit-card" fxFlex="30">
      <mat-card-header>
        <mat-card-title class="communication-kit-card-header-title">Original Logo</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="communication-kit-card-resource">
          <img src="https://raw.githubusercontent.com/jec-project/JEC/master/assets/jec-logos/jec-avatar-512-px.png" alt="Original JEC Logo"
          />
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button class="logo-btn" mat-button (click)="downloadItem('https://raw.githubusercontent.com/jec-project/JEC/master/assets/jec-logos/jec-avatar-512-px.png');">
          Download File
          <i class="material-icons">file_download</i>
          <div>512x512 pixels</div>
        </button>
        <button class="logo-btn" mat-button (click)="downloadItem('https://raw.githubusercontent.com/jec-project/JEC/master/assets/jec-logos/jec-avatar-256-px.png');">
          Download File
          <i class="material-icons">file_download</i>
          <div>256x256 pixels</div>
        </button>
        <button class="logo-btn" mat-button (click)="downloadItem('https://raw.githubusercontent.com/jec-project/JEC/master/assets/jec-logos/jec-avatar-128-px.png');">
          Download File
          <i class="material-icons">file_download</i>
          <div>128x128 pixels</div>
        </button>
        <button class="logo-btn" mat-button (click)="downloadItem('https://raw.githubusercontent.com/jec-project/JEC/master/assets/jec-logos/jec-avatar.svg');">
          Download File
          <i class="material-icons">file_download</i>
          <div>svg</div>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="communication-kit-card" fxFlex="30">
      <mat-card-header>
        <mat-card-title class="communication-kit-card-header-title">Black &amp; White JEC Logo</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="communication-kit-card-resource">
          <img src="https://raw.githubusercontent.com/jec-project/JEC/master/assets/jec-logos/jec-avatar-bw-512-px.png" alt="Black &amp; White JEC Logo"
          />
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button class="logo-btn" mat-button (click)="downloadItem('https://raw.githubusercontent.com/jec-project/JEC/master/assets/jec-logos/jec-avatar-bw-512-px.png');">
          Download File
          <i class="material-icons">file_download</i>
          <div>512x512 pixels</div>
        </button>
        <button class="logo-btn" mat-button (click)="downloadItem('https://raw.githubusercontent.com/jec-project/JEC/master/assets/jec-logos/jec-avatar-bw-256-px.png');">
          Download File
          <i class="material-icons">file_download</i>
          <div>256x256 pixels</div>
        </button>
        <button class="logo-btn" mat-button (click)="downloadItem('https://raw.githubusercontent.com/jec-project/JEC/master/assets/jec-logos/jec-avatar-bw-128-px.png');">
          Download File
          <i class="material-icons">file_download</i>
          <div>128x128 pixels</div>
        </button>
        <button class="logo-btn" mat-button (click)="downloadItem('https://raw.githubusercontent.com/jec-project/JEC/master/assets/jec-logos/jec-avatar-bw.svg');">
          Download File
          <i class="material-icons">file_download</i>
          <div>svg</div>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="communication-kit-card" fxFlex="30">
      <mat-card-header>
        <mat-card-title class="communication-kit-card-header-title">Blue JEC Logo</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="communication-kit-card-resource">
          <img src="https://raw.githubusercontent.com/jec-project/JEC/master/assets/jec-logos/jec-avatar-blue-512-px.png" alt="Blue JEC Logo"
          />
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button class="logo-btn" mat-button (click)="downloadItem('https://raw.githubusercontent.com/jec-project/JEC/master/assets/jec-logos/jec-avatar-blue-512-px.png');">
          Download File
          <i class="material-icons">file_download</i>
          <div>512x512 pixels</div>
        </button>
        <button class="logo-btn" mat-button (click)="downloadItem('https://raw.githubusercontent.com/jec-project/JEC/master/assets/jec-logos/jec-avatar-blue-256-px.png');">
          Download File
          <i class="material-icons">file_download</i>
          <div>256x256 pixels</div>
        </button>
        <button class="logo-btn" mat-button (click)="downloadItem('https://raw.githubusercontent.com/jec-project/JEC/master/assets/jec-logos/jec-avatar-blue-128-px.png');">
          Download File
          <i class="material-icons">file_download</i>
          <div>128x128 pixels</div>
        </button>
        <button class="logo-btn" mat-button (click)="downloadItem('https://raw.githubusercontent.com/jec-project/JEC/master/assets/jec-logos/jec-avatar-blue.svg');">
          Download File
          <i class="material-icons">file_download</i>
          <div>svg</div>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <h2>JEC Wallpapers</h2>

  <div class="communication-kit-card-container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="left top">
    <mat-card class="communication-kit-card" fxFlex="40">
      <mat-card-header>
        <mat-card-title class="communication-kit-card-header-title">JEC Youtube Channel Art</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="communication-kit-card-resource">
          <img src="https://raw.githubusercontent.com/jec-project/JEC/master/assets/jec-wallpapers/jec-channel-art-thumbnail.png" alt="JEC Youtube Channel Art"
          />
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button class="logo-btn" mat-button (click)="downloadItem('https://raw.githubusercontent.com/jec-project/JEC/master/assets/jec-wallpapers/jec-channel-art-thumbnail.png');">
          Download File
          <i class="material-icons">file_download</i>
          <div>2560x1440 pixels</div>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <h2>JEC Presentations Templates</h2>

  <div class="communication-kit-card-container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="left top">
    <mat-card class="communication-kit-card" fxFlex="40">
      <mat-card-header>
        <mat-card-title class="communication-kit-card-header-title">OpenOffice JEC Template</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="communication-kit-card-resource">
          <img src="https://raw.githubusercontent.com/jec-project/JEC/master/assets/templates/open-office/jec-diapo-background.png" alt="OpenOffice JEC Template"
          />
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button class="logo-btn" mat-button (click)="downloadItem('https://github.com/jec-project/JEC/raw/master/assets/templates/open-office/jec-template.otp');">
          Download File
          <i class="material-icons">file_download</i>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>