.projects-content {
  width: 100%;
  height: 100%;
}

.projects-content .projects-table {
  width: 100%;
  margin: 2em 0;
  border: 1px solid $jec-purple;
}

.projects-content .projects-table-header {
  padding: 0.8em 1em 0 1em;
  background-color: $jec-purple;
  color: #fff;
}

.projects-content .projects-table-body {
  margin: 1em 0;
}

.projects-content .projects-table-header .mat-form-field-label {
  color: #fff;
}
.projects-content .projects-table-header .mat-form-field-underline {
  background-color: #fff;
}

.projects-content .projects-table-header .mat-input-element {
  caret-color: #fff;
}

.projects-content .project-table-cell {
  justify-content: left;
  margin: 0 2em;
}

.projects-content .project-label,
.projects-content .project-table-cell button {
  display: inline-block;
}

.projects-content .project-label {
  padding: 1em;
}

/* Project info */
.cdk-overlay-container .mat-card {
  background: $jec-component-background;
}

.project-card {
  width: 25em;
}

.project-card .mat-card-title {
  color: $jec-purple;
  font-weight: bold;
  font-size: 1em;
}

.project-complete-row {
  display: table;
}

.project-complete-row span{
  display: table-cell;
  vertical-align: middle;
  padding-right: 1em;
}

.project-table-cell {
  display: flex;
}