<header>
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <div class="button-row">
      <button mat-button class="app-menu-button jec-link-button"
              (click)="navigService.gotToUrl('http://jecproject.org');">
        <img alt="JEC Logo" src="./assets/img/jec-avatar-white.svg" />&nbsp;
        <span>JEC</span>
      </button>
      <div class="jec-link-button-spacer">&nbsp;</div>
      <button mat-button class="app-menu-button mobile-secondary" (click)="navigService.navigateTo('/home');">Home</button>
      <button mat-button class="app-menu-button" (click)="navigService.navigateTo('/docs');">Documentation</button>
      <button mat-button class="app-menu-button" (click)="navigService.navigateTo('/community');">Community</button>
      <div class="flex-spacer"></div>
      <button mat-button class="app-menu-button mobile-secondary" (click)="navigService.gotToUrl('https://twitter.com/JEC_Project');">
        <img alt="Twitter" src="./assets/img/twitter-logo.svg" />&nbsp;
        <span>Twitter</span>
      </button>
      <button mat-button class="app-menu-button mobile-secondary" (click)="navigService.gotToUrl('https://github.com/pechemann');">
        <img alt="Github" src="./assets/img/github-logo.svg" />&nbsp;
        <span>Github</span>
      </button>
    </div>
    <!--<button mat-button class="app-menu-button" (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>-->
  </mat-toolbar>
</header>

<section class="mat-typography main-content">
  <router-outlet></router-outlet>
</section>

<footer class="mobile-secondary">
  <div class="footer-logo">
      <img alt="JEC Logo" src="./assets/img/jec-avatar-white.svg" />
      <span>JEC</span>
  </div>
  <div class="footer-center-section">
    
  </div>
  <div class="footer-copyright">
    <span>Powered by Pascal ECHEMANN 2018.</span>
    <span>Code licensed under an Apache 2.0 License.</span>
    <span>Documentation licensed under CC BY 4.0.</span>
  </div>
</footer>