<div class="community-content">

  <jec-breadcrumb [routeList]="routeList" (onChange)="breadcrumbChangeHandler($event)"></jec-breadcrumb>

  <div class="tree-component-wrapper mat-elevation-z2">
    <tree-root #navTree [nodes]="treeData" [options]="treeOptions" (activate)="onActivate($event)">
      <ng-template #treeNodeTemplate let-node>
        <span [ngClass]="{'node-content-disabled': node.data.file === undefined}" [class.title]="true">{{ node.data.name }}</span>
      </ng-template>
    </tree-root>
  </div>

  <jec-md-viewport filesPath="assets/resources/community/pages"
                   [reference]="mdFileRef"
                   (rendered)="onRendered($event)"></jec-md-viewport>
</div>